<%= link_to slide.link, target: "_blank", class: "swiper-slide slide" do %>
  <img data-src="<%= slide.image.url(:normal) %>" width="1110" height="420" class="swiper-lazy slide__image" />

  <% if slide.title.present? || slide.content.present? %>
    <div class="slide__content">
      <% if slide.title.present? %>
        <h3 class="title"><%= slide.title %></h3>
      <% end %>
      <% if slide.content.present? %>
        <div class="content">
          <%= slide.content %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="swiper-lazy-preloader"></div>
<% end %>
