<tr>
	<td><%= page.title %></td>
	<td><%= truncate(page.content, length: 500) %></td>
	<td><%= page.permalink %></td>
  <td>
  	<%= link_to 'Редактировать', edit_manage_page_path(page) %>
  	<%= link_to 'Удалить', [:manage, page], method: :delete, data: { confirm: 'Вы уверены?' } %>
  </td>
</tr>
