<h2>Управление страницами</h2>

<p><%= link_to 'Добавить страницу', new_manage_page_path, class: "btn btn-primary" %></p>

<table class="table">
	<thead>
		<tr>
			<th>Заголовок</th>
			<th>Содержание</th>
			<th>Кодовое значение</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<%= render @pages %>
	</tbody>
</table>
