<%= link_to article, class: "article-item-link" do %>
  <div class="article-item">
    <%= image_tag article.image.url(:thumb), class: "article-item__image" if article.image.present? %>

    <div class="article-item__info">
      <h4 class="title">
        <%= article.title %>
      </h4>
      <h6 class="title title--sub">
        <%= article.subtitle %>
      </h6>
    </div>
  </div>
<% end %>
