<div class="section-title">
  <div class="container">
    <h1 class="section-title__text">
      <%= title "Статьи" %>
    </h1>
  </div>
</div>

<div class="container">
  <%= render "articles", articles: @articles %>
</div>
