<div class="article-show-header">
  <%= image_tag @article.image.url(:featured), class: "article-show-header__picture" if @article.image.present? %>
  <h1 class="article-show-header__title">
    <%= title @article.title %>
  </h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="article-show-content">
        <%= simple_format(@article.content) %>
        <% description(@article.content) %>
      </div>
    </div>
  </div>
</div>
