<div class="page-header">
  <h1>Редактирование настроек проекта</h1>
</div>

<%= simple_form_for [:manage, settings], url: manage_settings_url do |f| %>
  <div class="form-inputs">
    <%= f.input :address %>
    <%= f.input :email %>
    <%= f.input :phone %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>