<%= simple_form_for [:manage, @product] do |f| %>
  <%= f.error_notification %>

  <div>
    <%= f.input :title %>
    <%= f.input :subtitle %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :weight %>
    <%= f.input :nutritional_value, as: :text %>
    <%= f.input :energy_value, as: :text %>
    <%= f.input :image, as: :file %>
  </div>

  <div>
    <%= f.button :submit %>
  </div>
<% end %>
