<tr>
  <td><%= product.title %></td>
	<td><%= product.subtitle %></td>
	<td><%= truncate(product.description, length: 500) %></td>
	<td><%= product.price %></td>
	<td><%= image_tag product.image.url(:thumb) %></td>
	<td>
	  <%= link_to 'Редактировать', edit_manage_product_path(product) %>
	  <%= link_to 'Удалить', [:manage, product], method: :delete, data: { confirm: 'Вы уверены?' } %>
	</td>
</tr>
