<h2>Управление продуктами</h2>

<p><%= link_to 'Добавить продукт', new_manage_product_path, class: "btn btn-primary" %></p>

<table class="table">
	<thead>
		<tr>
			<th>Заголовок</th>
			<th>Подзаголовок</th>
			<th>Описание</th>
			<th>Цена</th>
			<th>Фото</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<%= render @products %>
	</tbody>
</table>
