<div class="container">
  <%= render "slider", slides: @slides %>

  <div class="home-page-block">
    <%= render "products", products: @products %>

    <%= render "link_to_all",
          path: products_path,
          text: "Все продукты"
    %>
  </div>
</div>

<div class="section-title">
  <div class="container">
    <h2 class="section-title__text">
      Статьи, советы, полезная информация
    </h2>
  </div>
</div>

<div class="container">
  <div class="home-page-block">
    <%= render "articles", articles: @articles %>

    <%= render "link_to_all",
          path: articles_path,
          text: "Статьи, советы, полезная информация"
    %>
  </div>
</div>
