<tr>
  <td><%= article.title %></td>
  <td><%= article.subtitle %></td>
  <td><%= truncate(article.content, length: 500) %></td>
  <td><%= image_tag article.image.url(:thumb) if article.image.present? %></td>
  <td>
	  <%= link_to 'Редактировать', edit_manage_article_path(article) %>
	  <%= link_to 'Удалить', [:manage, article], method: :delete, data: { confirm: 'Вы уверены?' } %>
	</td>
</tr>
