<h2>Управление статьями</h2>

<p><%= link_to 'Добавить статью', new_manage_article_path, class: "btn btn-primary" %></p>

<table class="table">
	<thead>
		<tr>
			<th>Заголовок</th>
			<th>Подзаголовок</th>
			<th>Содержание</th>
			<th>Фото</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<%= render @articles %>
	</tbody>
</table>
