<div class="section-title">
  <div class="container">
    <h1 class="section-title__text">
      <%= title @page.title %>
    </h1>
  </div>
</div>

<div class="container">
  <%= simple_format(@page.content) %>
  <% description(@page.content) %>
</div>
