<%= simple_form_for :auth, url: manage_auth_path do |f| %>
  <div class="form-group">
    <%= f.input :password, required: true %>
  </div>

  <%= f.button :submit, 'Войти', class: "btn btn-primary" %>
<% end %>
