<tr>
  <td><%= certificate.title %></td>
  <td><%= certificate.content %></td>
  <td><%= image_tag certificate.image.url(:thumb) %></td>
  <td>
	  <%= link_to 'Редактировать', edit_manage_certificate_path(certificate) %>
	  <%= link_to 'Удалить', [:manage, certificate], method: :delete, data: { confirm: 'Вы уверены?' } %>
  </td>
</tr>
