<h2>Управление сертификатами</h2>

<p><%= link_to 'Добавить сертификат', new_manage_certificate_path, class: "btn btn-primary" %></p>

<table class="table">
	<thead>
		<tr>
			<th>Заголовок</th>
			<th>Содержание</th>
			<th>Фото</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<%= render @certificates %>
	</tbody>
</table>
