<%= link_to certificate, class: "certificate-item" do %>
	<div class="certificate-item__image">
		<%= image_tag certificate.image.url(:thumb), class: "certificate-image" %>
	</div>
	<h4 class="certificate-item__title">
		<%= certificate.title %>
	</h4>
<% end %>
