<div class="section-title">
  <div class="container">
    <h1 class="section-title__text">
      <%= title "Сертификаты" %>
    </h1>
  </div>
</div>

<div class="container">
  <%= render "certificates", certificates: @certificates %>
</div>
