<div class="section-title">
  <div class="container">
    <h1 class="section-title__text">
      <%= title @certificate.title.present? ? @certificate.title : "Сертификат" %>
    </h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <% if @certificate.content.present? %>
      <div class="col-md-9">
        <%= image_tag @certificate.image.url(:featured), class: "img-fluid" %>
      </div>
      <div class="col-md-3">
        <div class="certificate-info-content">
          <%= simple_format(@certificate.content) %>
        </div>
      </div>
    <% else %>
      <div class="col-md-8 offset-md-2">
        <%= image_tag @certificate.image.url(:featured), class: "img-fluid" %>
      </div>
    <% end %>
  </div>
</div>
