<%= simple_form_for [:manage, @slide] do |f| %>
  <%= f.error_notification %>

  <div>
    <%= f.input :image %>
    
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :link %>
    <%= f.input :position %>
  </div>

  <div>
    <%= f.button :submit %>
  </div>
<% end %>
