<tr>
  <td><%= image_tag slide.image.url(:thumb) %></td>
  <td><%= slide.title %></td>
  <td><%= slide.content %></td>
  <td><%= slide.link %></td>
  <td><%= slide.position %></td>
  <td>
	  <%= link_to 'Редактировать', edit_manage_slide_path(slide) %>
	  <%= link_to 'Удалить', [:manage, slide], method: :delete, data: { confirm: 'Вы уверены?' } %>
	</td>
</tr>
