<h2>Управление слайдами</h2>

<p><%= link_to 'Добавить слайд', new_manage_slide_path, class: "btn btn-primary" %></p>

<table class="table">
	<thead>
		<tr>
			<th>Фото</th>
			<th>Название</th>
			<th>Содержание</th>
			<th>Ссылка</th>
			<th>Позиция</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<%= render @slides %>
	</tbody>
</table>
