// ------------------------------------------------------
// Bootstrap custom variable settings
// ------------------------------------------------------
$enable-flex: true;
$grid-gutter-width-base: 10px;
$headings-font-family: 'Helvetica Narrow', 'Arial Narrow', sans-serif;
$body-bg: #c8eafb;
$brand-primary: #00828f;
$link-hover-decoration: none;

// Import Bootstrap itself
@import "bootstrap";

// Import libs
@import "swiper";

// Import custom stylesheets
@import "base";
@import "products";
@import "articles";
@import "certificates";
