// ------------------------------------------------------
// Article item
// ------------------------------------------------------
.article-item-link {
  flex: 1;
  display: flex;
  padding: 6px;

  background-color: #fff;
}

.article-item {
  position: relative;
  flex: 1;
  display: block;
  padding: 18px;

  border: 1px solid #ADADAC;

  color: #000;
  background-color: #fff;
}

.article-item__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-item__info {
  position: absolute;
  left: 18px;
  right: 18px;
  bottom: 18px;

  padding: 6px;

  text-align: right;
  text-transform: uppercase;
  line-height: 1.2;

  background-color: rgba(#fff, .3);

  .title {
    font-size: 18px;
    font-weight: bold;

    color: $brand-primary;
  }
  .title--sub {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
  }
}

// ------------------------------------------------------
// Article show
// ------------------------------------------------------
.article-show-header {
  position: relative;
  height: 300px;
  margin-bottom: 30px;
}

.article-show-header__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(15px) opacity(72%);
}

.article-show-header__title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;

  text-shadow: 0 0 9px #fff;
  text-align: center;
  text-transform: uppercase;

  font-weight: bold;

  color: $brand-primary;
}
