// ------------------------------------------------------
// General layout
// ------------------------------------------------------
.admin-nav {
  margin-top: 15px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app__container {
  flex: 1;
  width: 100%;
  padding-bottom: 60px;
}

.main-header {
  margin-top: 30px;
  margin-bottom: 45px;
  padding: 6px 0;

  background-color: $brand-primary;
  border-top: 6px solid $brand-primary;
  border-bottom: 6px solid $brand-primary;
  background-clip: content-box;
}

.main-logo {
  position: relative;
}

.main-logo__leaf {
  position: absolute;
  top: -55px;
  left: -3px;
  z-index: 180;
}

.main-logo__sign {
  position: absolute;
  left: 15px;
  top: 50%;
  z-index: 210;
  transform: translateY(-50%);
}

.main-footer {
  padding-top: 6px;

  border-top: 6px solid $brand-primary;

  font-size: .81em;

  background-color: $brand-primary;
  background-clip: content-box;
  color: #fff;

  a,
  a:hover,
  a:focus {
    color: #fff;
  }
}

.main-footer__container {
  position: relative;
  padding-top: 30px;
  padding-bottom: 60px;
}

.footer-contacts {
  text-align: right;

  font-family: 'Helvetica Narrow', 'Arial Narrow', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
}

.footer-nav {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-nav__item {
  text-transform: uppercase;

  font-family: 'Helvetica Narrow', 'Arial Narrow', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
}

.footer-address__lock {
  position: absolute;
  right: 0;
  bottom: 15px;

  opacity: .6;
}

.footer-address__lock:hover {
  opacity: 1;
}

// ------------------------------------------------------
// Main navigation
// ------------------------------------------------------
.main-nav {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  display: flex;
  flex: 1;
}

.main-nav-link,
.main-nav-link:hover,
.main-nav-link:focus {
  flex: 1;
  padding: 6px 12px;

  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;

  font-family: 'Helvetica Narrow', 'Arial Narrow', sans-serif;
  font-weight: bold;
  font-size: 18px;

  color: #fff;
}

.main-nav__item--active .main-nav-link {
  color: $body-bg;
}

// ------------------------------------------------------
// Slider
// ------------------------------------------------------
.slider {
  position: relative;
}

.slider__arrow {
  position: absolute;
  top: 50%;
  z-index: 120;

  width: 90px;
  height: 90px;
  padding: 21px;

  border-radius: 50%;
  background-color: #fff;

  cursor: pointer;
}

.slider__arrow--prev {
  left: 0;
  transform: translateY(-50%) translateX(-50%) rotate(180deg);
}

.slider__arrow--next {
  right: 0;
  transform: translateY(-50%) translateX(50%);
}

.slider .swiper-wrapper {
  width: 100%;
  height: 420px;
}

.slide {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.slide__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 15px;

  text-align: left;

  background-color: rgba($brand-primary, 0.6);
  color: #fff;

  .content {
    font-size: .81em;
  }
}

@media (min-width: map-get($grid-breakpoints, 'md')) {
  .slide__content {
    right: 15px;
    bottom: 15px;
    left: auto;
    text-align: right;

    max-width: 50%;
  }
}

// ------------------------------------------------------
// Common partial-related stuff
// ------------------------------------------------------
.product-row,
.article-row {
  display: flex;
}

.product-row__column,
.article-row__column {
  display: flex;
  margin-bottom: 30px;
}


// ------------------------------------------------------
// Utility styles
// ------------------------------------------------------
.page-title {
  margin-bottom: 30px;
  color: $brand-primary;
}

.link-to-all {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.link-to-all__text {
  text-transform: uppercase;

  font-size: 13px;
  font-weight: bold;
  font-family: 'Helvetica Narrow', 'Arial Narrow', sans-serif;
}

.link-to-all__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 6px;
  margin-left: 12px;

  border-radius: 50%;
  background-color: #fff;

  cursor: pointer;
}

// ------------------------------------------------------
// Homepage blocks and Sections
// ------------------------------------------------------
.home-page-block {
  margin: 45px auto;
}

.section-title {
  margin: 0 0 30px 0;
  padding-top: 6px;
  padding-bottom: 6px;

  border-top: 6px solid #B0D2D2;
  border-bottom: 6px solid #B0D2D2;
  background-clip: content-box;

  color: $brand-primary;
  background-color: #AECACB;
}

.section-title__text {
  display: block;
  margin: 9px 0;

  text-transform: uppercase;

  font-family: 'Helvetica Narrow', 'Arial Narrow', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
}
