// ------------------------------------------------------
// Certificate item
// ------------------------------------------------------
.certificate-item {
  text-align: center;
}

.certificate-item__image {
  margin-bottom: 15px;
}

.certificate-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: grayscale(81%);
  transition: filter .3s ease-out;
}

.certificate-item:hover .certificate-image,
.certificate-item:focus .certificate-image {
  filter: grayscale(0%);
}

// ------------------------------------------------------
// Certificate show
// ------------------------------------------------------
.certificate-info-content {
  padding: 15px;

  font-size: .81em;

  background: #fafafa;
}
