// ------------------------------------------------------
// Product item
// ------------------------------------------------------
.product-item-link {
  flex: 1;
  display: flex;
  padding: 6px;

  background-color: #fff;
}

.product-item {
  flex: 1;
  display: block;
  padding: 18px;

  border: 1px solid #ADADAC;

  color: #000;
  background-color: #fff;
}

.product-item:hover,
.product-item:focus {
  color: #000;
}

.product-item__picture {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

.product-item__info {
  margin-top: 12px;

  position: relative;
  z-index: 9;
  padding: 0 15px;

  text-align: center;
}

.product-item__title {
  margin: 0;

  text-transform: uppercase;

  font-size: 18px;
  font-weight: bold;

  color: $brand-primary;
}

.product-item__title--sub {
  text-transform: uppercase;

  font-size: 15px;
  font-weight: normal;

  color: $brand-primary;
}

// ------------------------------------------------------
// Product show
// ------------------------------------------------------
.product-show-picture {
  padding: 6px;

  background-color: #fff;
}

.product-show-picture__wrap {
  padding: 6px;

  border: 1px solid #ADADAC;
}

.product-show-options {
  padding: 30px;
  margin: 15px 0;

  list-style: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: .91em;
}

.product-show-options__option {
  margin-bottom: 6px;

  .name {
    display: block;
    font-weight: bold;
  }
}

.product-show-options__option:last-child {
  margin-bottom: 0;
}

.product-show-title {
  text-transform: uppercase;
  font-weight: bold;
  color: $brand-primary;
}

.product-show-title__price {
  font-weight: normal;
}
