<% articles.in_groups_of 3 do |group| %>
  <div class="row article-row">
    <% group.compact.each do |article| %>
      <div class="col-sm-4 article-row__column">
        <%= render article %>
      </div>
    <% end %>
  </div>
<% end %>
