<% certificates.in_groups_of 3 do |group| %>
  <div class="row">
    <% group.compact.each do |certificate| %>
      <div class="col-sm-4">
        <%= render certificate %>
      </div>
    <% end %>
  </div>
<% end %>
