<%= link_to path, class: "link-to-all" do %>
  <span class="link-to-all__text"><%= text %></span>
  <span class="link-to-all__arrow">
    <%= image_tag "arrow.svg", width: 16, height: 30, class: "arrow-image" %>
  </span>
<% end %>
