<% products.in_groups_of 3 do |group| %>
  <div class="row product-row">
    <% group.compact.each do |product| %>
      <div class="col-lg-4 product-row__column">
        <%= render product %>
      </div>
    <% end %>
  </div>
<% end %>
