<div class="slider">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <%= render slides  %>
    </div>
  </div>

  <%= image_tag "arrow.svg", width: 32, height: 60, class: "slider__arrow slider__arrow--prev" %>
  <%= image_tag "arrow.svg", width: 32, height: 60, class: "slider__arrow slider__arrow--next" %>
</div>
