<%= link_to product, class: "product-item-link" do  %>
  <div class="product-item">
    <%= image_tag product.image.url(:thumb), class: "product-item__picture" %>

    <div class="product-item__info">
      <h4 class="product-item__title--sub">
        <%= product.subtitle %>
      </h4>
      <h4 class="product-item__title">
        <%= product.title %>
      </h4>
    </div>
  </div>
<% end %>
