<div class="section-title">
  <div class="container">
    <h1 class="section-title__text">
      <%= title "Продукция" %>
    </h1>
  </div>
</div>

<div class="container">
  <%= render "products", products: @products %>
</div>
