<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="product-show-picture">
        <div class="product-show-picture__wrap">
          <%= image_tag @product.image.url(:featured), class: "img-fluid" %>
        </div>
      </div>

      <% if @product.nutritional_value.present? || @product.energy_value.present? || @product.weight.present? %>
        <ul class="product-show-options">
          <% if @product.nutritional_value.present? %>
            <li class="product-show-options__option">
              <span class="name">Пищевая ценность на 100 г продукта:</span>
              <span class="value"><%= @product.nutritional_value %></span>
            </li>
          <% end %>

          <% if @product.energy_value.present? %>
            <li class="product-show-options__option">
              <span class="name">Энергетическая ценность на 100 г продукта:</span>
              <span class="value"><%= @product.energy_value %></span>
            </li>
          <% end %>

          <li class="product-show-options__option">
            <span class="name">Масса:</span>
            <span class="value"><%= @product.weight %></span>
          </li>
        </ul>
      <% end %>
    </div>
    <div class="col-md-6">

      <h1 class="product-show-title">
        <%= title @product.title %>
      </h1>

      <div class="product-show-description">
        <%= simple_format(@product.description) %>
        <% description(@product.description) %>
      </div>
    </div>
  </div>

</div>
