<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="yandex-verification" content="c579a6034b3eeff9" />

    <%= csrf_meta_tags %>

    <%= title :site => "Dea Nature", :separator => '—', reverse: true %>
    <%= keywords :default => "deanature, dea nature, дея нейче, купить средства для омоложения, средства для омоложения, средства для похудения бишкек, купить средства для похудения в бишкеке, похудеть в бишкеке, купить клетчатку в бишкеке" %>
    <%= description :default => "Компания ОсОО Дея Нэйче существует на рынке в течении 10-ти лет (с декабря 2004 по декабрь 2009 года компания называлась ЧП Ханмурзина, с 2010 по декабрь 2013 года нас знали под названием ОсОО Клеона). В декабре 2013 года компания переименована в ОсОО Дея Нэйче, в переводе — Богиня-природа. 10 лет наша косметика, и продукты для похудения популярны и востребованы, потому что мы стараемся создавать новые уникальные продукты для похудения, продукты снижающие уровень глюкозы в крови для больных сахарным диабетом, а так же уникальные продукты для ухода за кожей лица и тела, тщательно подбирая самые эффективные гипоаллергенные, причем только натуральные ингредиенты. Принципиально не используем химические добавки и стероидные препараты. Поскольку большинство женщин обеспокоены лишним весом, признаками возрастных изменений и хотят надолго сохранить здоровье и молодость, мы работаем над созданием интенсивных действенных средств против набора лишнего веса, а как следствие старения организма. Наши продукты помогают женщинам чувствовать и выглядеть красивыми и уверенными в себе." %>

    <%= stylesheet_link_tag 'application', media: 'all'  %>
  </head>

  <body>
    <div class="app">
      <div class="main-header">
        <div class="container">
          <div class="row">
            <div class="col-md-3 main-logo">
              <%= image_tag('leaf.png', width: 153, height: 153, class: "main-logo__leaf") %>
              <%= link_to image_tag('logo.svg', width: 118, height: 58), root_path, class: "main-logo__sign" %>
            </div>
            <div class="col-md-9">
              <%= render_navigation %>
            </div>
          </div>
        </div>
      </div>

      <div class="app__container">
        <div class="container">
          <%= render_navigation context: :admin if current_admin %>
        </div>

        <%= yield %>
      </div>

      <footer class="main-footer">
        <div class="container main-footer__container">
          <div class="row">
            <div class="col-md-5">
              <%= render_navigation context: :footer %>
            </div>
            <div class="col-md-7">
              <div class="footer-contacts">
                <%= settings.address %><br />
                <%= mail_to settings.email %>
              </div>
            </div>
          </div>
          <%= link_to image_tag("lock.svg", width: 12, height: 12), manage_login_path, class: "footer-address__lock" unless current_admin %>
        </div>
      </footer>
    </div>

    <%= javascript_include_tag 'application' %>

    <% if Rails.env.development? %>
      <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    <% end %>
  </body>
</html>
