<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="yandex-verification" content="c579a6034b3eeff9" />

    <%= csrf_meta_tags %>

    <%= title :site => "Панель управления Dea Nature", :separator => '—', reverse: true %>
    <%= stylesheet_link_tag 'application', media: 'all'  %>
  </head>

  <body>
    <div class="app">
      <div class="main-header">
        <div class="container">
          <div class="row">
            <div class="col-md-3 main-logo">
              <%= image_tag('leaf.png', width: 153, height: 153, class: "main-logo__leaf") %>
              <%= link_to image_tag('logo.svg', width: 118, height: 58), root_path, class: "main-logo__sign" %>
            </div>
            <div class="col-md-9">
              <%= render_navigation %>
            </div>
          </div>
        </div>
      </div>

      <div class="app__container">
        <div class="container">
          <%= render_navigation context: :admin if current_admin %>

          <%= yield %>
        </div>
      </div>

      <footer class="main-footer">
        <div class="container main-footer__container">
          <div class="row">
            <div class="col-md-5">
              <%= render_navigation context: :footer %>
            </div>
            <div class="col-md-7">
              <div class="footer-contacts">
                <%= settings.address %><br />
                <%= mail_to settings.email %>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <%= javascript_include_tag 'application' %>

    <% if Rails.env.development? %>
      <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    <% end %>
  </body>
</html>
